@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: 300;
    font-style: normal;
    font-display: swap;

}
@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: bold;
    font-style: normal;
    font-display: swap;

}
@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: 100;
    font-style: normal;
    font-display: swap;

}
@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: 200;
    font-style: normal;
    font-display: swap;

}
@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: 400;
    font-style: normal;
    font-display: swap;

}

@font-face{
    font-family:'IBM';
    src: url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.eot'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.svg') format('sag'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.ttf') format('truetype'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff') format('woff'),
         url('../font/IBM_Plex_Sans_KR/IBMPlexSansKR-Bold.woff2') format('woff2');
   
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}